@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #2b5876, #4e4376);
  position: absolute;
  height: 100%;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.container {
  display: grid;
  grid-template-rows: 20vh 15vh 25vh 25vh;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas:
    ". . ."
    ". logo ."
    ". comingsoon ."
    ". benotified .";
}
.logo {
  grid-area: logo;
  justify-self: center;
}
.comingsoon {
  grid-area: comingsoon;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.benotified {
  grid-area: benotified;
  justify-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input {
  padding: 0.6rem 0.2rem;
  font-size: 1.2rem;
  background: transparent;
  border: 2px solid white;
  color: white;
}
.form input::placeholder {
  color: rgb(195, 195, 195);
}
.form button {
  margin-top: 1rem;
  padding: 0.3rem 0.6rem;
}
.form button:hover {
  cursor: pointer;
}
